<form class="form-fonts tab-pane active" id="first" name="firstForm" 
                    rc-submit="saveState()" rc-step novalidate>
                <h2 class="form-fonts">Enter Address Information</h2>
                <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.name)}">
                  <label class="form-fonts control-label">Property Name</label>
                  <input name="name" class="form-control" type="text"  placeholder="e.g. My Awesome Apartment" required ng-model="new_property.name" />
                </div>
                <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.street)}">
                  <label class="form-fonts control-label">Street Address</label>
                  <input name="street" class="form-control" type="text" placeholder="e.g. 123 Main St." required ng-model="new_property.street" />
                </div>
                <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.suite)}">
                  <label class="form-fonts control-label">Apt, Suite, Bldg. (optional)</label>
                  <input name="suite" class="form-control" type="text" placeholder="e.g. Apt #7" ng-model="new_property.suite" />
                </div>
                <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.city)}">
                  <label class="form-fonts control-label">City</label>
                  <input name="city" class="form-control" type="text" placeholder="e.g. Chicago" required ng-model="new_property.city" />
                </div>
                <div class="form-group">
                  <label class="control-label">State</label>
                  <select class="form-control" ng-model="state_form.type" ng-options="option.abbreviation as option.abbreviation for option in state_options"></select>                  
                </div>
                <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.zip)}">
                  <label class="form-fonts control-label">ZIP Code</label>
                  <input name="zip" class="form-control" type="text" required placeholder="e.g. 60654" ng-minlength="5" ng-maxlength="5" ng-model="new_property.zip" />
                  </div>
              </form>