<form class="tab-pane" id="second" name="secondForm" rc-submit="createProperty()" rc-step>
                <h2>Enter Property Details</h2>
                <div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.numBeds)}">
                  <label class="control-label">Bedrooms</label>
                  <input class="form-control" type="text" data-name="numBeds" required ng-model="new_property.numBeds" /> 
                  <!--<div class="bfh-selectbox" id="bedsSelect" data-name="numBeds" data-value="0">
                    <div data-value="0">Studio</div>
                    <div data-value="1">1</div>
                    <div data-value="2">2</div>
                    <div data-value="3">3</div>
                    <div data-value="4">4</div>
                    <div data-value="5">5+</div>
                  </div>-->
                </div>
                <div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.numBaths)}">
                  <label class="control-label">Bathrooms</label>
                  <input class="form-control" type="text" data-name="numBaths" required ng-model="new_property.numBaths" /> 
                  <!--<div class="bfh-selectbox" id="bathsSelect" data-name="numBaths" data-value="1" required ng-model="new_property.numBaths" >
                    <div data-value="1">1</div>
                    <div data-value="2">2</div>
                    <div data-value="3">3</div>
                    <div data-value="4">4</div>
                    <div data-value="5">5+</div>
                  </div>-->
                </div>
                <div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.price)}">
                  <label class="control-label">Price ($)</label>
                  <input type="text" class="form-control bfh-number" data-min="100" name="price" required ng-model="new_property.price" >
                </div> 
                <div class="form-group clearfix" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.description)}">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" ng-model="new_property.description" srows="3"></textarea>
                </div>
              </form>
