<form class="tab-pane" id="second" name="secondForm" rc-submit="createProperty()" rc-step>
                <h2>Enter Property Details</h2>
                <div class="form-group">
                  <label class="control-label">Bedrooms</label>
                  <select class="form-control" ng-model="bed_form.type" ng-options="option.value as option.name for option in bed_options"></select>
                </div>
                <div class="form-group">
                  <label class="control-label">Bathrooms</label>
                  <select class="form-control" ng-model="bath_form.type" ng-options="option.value as option.name for option in bath_options"></select>                  
                </div>
                <div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.price)}">
                  <label class="control-label">Price ($)</label>
                  <input type="text" class="form-control bfh-number" data-min="100" name="price" required ng-model="new_property.price" >
                </div> 
                <div class="form-group clearfix" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.description)}">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" ng-model="new_property.description" srows="3"></textarea>
                </div>
              </form>
