<form class="tab-pane" id="last" name="lastForm" rc-submit="completeProperty()" rc-step>
    <div class="row marketing">
        <div class="form-group">
            <label for="photos">Input Pictures</label>
            <input id="photos" type="file" class="btn" ng-file-select="onFileSelect($files)" multiple>
            <p class="help-block" ng-show="comp_images.length > 1">Select Default Image</p>

            <div ng-repeat="file in comp_images" class="container">
                <div class="propertyImageRow" ng-click="changeDefault($index)">
                    <img src="{{file.imgData}}" class="img-responsive propImage" ng-class="{selectedImage: $index == selectedImageIndex }" alt="" title="">
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:{{file.progress}}%;">
                        {{file.progress}} %
                    </div>
                </div>
                <button class="btn btn-ttc" type="button" ng-click="abort($index)" ng-show="file.progress != 100">Abort</button>
            </div>
        </div>
    </div>
</form>
