<!doctype html>
<html>
<head>
	<title>Shimmy - Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/css/style.css">
  	<script src="/file-upload/angular-file-upload-shim.min.js"></script> 
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  	<script src="/file-upload/angular-file-upload.min.js"></script> 
  	<script>var myProp = "<%= property_id %>";</script>

	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body ng-app="editProp">

<%- include partials/navbar.ejs %>

<div class="container">
	<div ng-controller="editPropController" >
		<div class="row">
			<h3 class="form-fonts" ><span class="glyphicon glyphicon-pencil"></span>  Edit Property - {{ property.name }} </h3>

				<div class="col-md-6 form-group">
				    <label class="form-fonts" for="name">Name</label>
				    <input class="form-control" id="name" type="text" ng-model="property.name"/>
				</div>
				<div class="col-md-6 form-group">
				    <label class="form-fonts" for="price">Price ($)</label>
				    <input class="form-control" id="price" type="text" ng-model="property.price"/>
				</div>
				<div class="col-md-12 form-group">
				    <label class="form-fonts" for="description">Description</label>
                  	<textarea class="form-control" id="description" name="description" ng-model="property.description" srows="3"></textarea>
				</div>
				<span class="clearfix">

			<button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success btn-sm" ng-click="saveEdits()">Save Changes</button>
		</div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/edit_property.js"></script>

</body>
</html>
