<!doctype html>
<html>
<head>
	<title>Shimmy - Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>

<div class="container">
	
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootbox.js"></script>
<script src="/js/displayCallback.js"></script>

<script>
        $(function() {
            displayCallback.init({
                "selector": ".bb-alert"
            });
        });
    </script>

<script type="text/javascript" src="/edit_property.js"></script>

</body>
</html>
