<!doctype html>
<html>
<head>
	<title>Shimmy Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="css/login_pages.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">

</head>
<body>
	
	<div class="lessWidth jumbotron text-center">
		<h1 class="form-fonts"><span class="fa fa-home"></span> Shimmy Properties</h1>

		<p class="form-fonts">Login or Register</p>

		<a href="/login" class="form-fonts btn btn-default"><span class="fa fa-user"></span>Login</a>
		<a href="/signup" class="form-fonts btn btn-default"><span class="fa fa-user"></span>Signup</a>
	</div>

	<div id="footer">
      <div class="container">
      </div>
    </div>
</body>
</html>