<!doctype html>
<html ng-app="shimmy">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Shimmy - Create Property</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script type="text/javascript" src="/new_property.js"></script>
</head>

<!-- SET THE CONTROLLER AND GET ALL properties -->
<body ng-controller="mainController">
  <div class="jumbotron">
    <div class="container">
      <h1>Shimmy Properties</h1>
      <p>Get started by entering property details.</p>
    </div>
  </div>

  <!-- FORM TO CREATE PROPERTIES -->
	<div class="container" style="padding-bottom: 40px;">
		<div id="properties-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-left">
				<form name="formData" valid-submit="createProperty()" novalidate>
  					<div class="form-group clearfix" ng-class="{
                    'has-error': formData.$submitted && formData.nameField.$invalid,
                    'has-success': formData.$submitted && formData.nameField.$valid}">
    					  <label for="nameField">Name *</label>
    					  <input type="text" class="form-control" name="nameField" id="nameField" placeholder="Enter Name" ng-model="formData.name" required autofocus></input>
                <div class="alert alert-danger" ng-show="formData.$submitted && formData.nameField.$error.required">Name is required</div>
  					</div>

  					<div class="form-group clearfix" ng-class="{
                    'has-error': formData.$submitted && formData.addrField.$invalid,
                    'has-success': formData.$submitted && formData.addrField.$valid}">
    					<label for="addrField">Address *</label>
    					<input type="text" class="form-control" id="addrField" name="addrField" placeholder="Enter Address" ng-model="formData.address" required>
              <div class="alert alert-danger" ng-show="formData.$submitted && formData.addrField.$error.required">Address is required</div>
            </div>

            <div class="form-group clearfix" ng-class="{
                    'has-error': formData.$submitted && formData.cityField.$invalid,
                    'has-success': formData.$submitted && formData.cityField.$valid}">
              <label for="cityField">City *</label>
              <input type="text" class="form-control" id="cityField" name="cityField" placeholder="Enter City" ng-model="formData.city" required>
              <div class="alert alert-danger" ng-show="formData.$submitted && formData.cityField.$error.required">City is required</div>
            </div>

            <div class="form-group clearfix" ng-class="{
                    'has-error': formData.$submitted && formData.stateField.$invalid,
                    'has-success': formData.$submitted && formData.stateField.$valid}">
              <label for="stateField">State *</label>
              <input type="text" class="form-control" id="stateField" name="stateField" placeholder="Enter State" ng-model="formData.state" ng-minlength="2" ng-maxlength="2" required>
              <div class="alert alert-danger" ng-show="formData.$submitted && formData.stateField.$error.required">Please enter a 2 digit state code.</div>
            </div>

  					<div class="form-group clearfix" ng-class="{
                    'has-error': formData.$submitted && formData.bedField.$invalid,
                    'has-success': formData.$submitted && formData.bedField.$valid}">
    					<label for="bedField">Bedrooms *</label>
    					<input type="text" class="form-control" id="bedField" name="bedField" placeholder="Enter Bedrooms" ng-model="formData.numBeds" required>
              <div class="alert alert-danger" ng-show="formData.$submitted && formData.bedField.$error.required">Bedrooms is required</div>
            </div>

  					<div class="form-group clearfix" ng-class="{
                    'has-error': formData.$submitted && formData.bathField.$invalid,
                    'has-success': formData.$submitted && formData.bathField.$valid}">
    					<label for="bathField">Bathrooms *</label>
    					<input type="text" class="form-control" id="bathField" name="bathField" placeholder="Enter Bathrooms" ng-model="formData.numBaths" required>
              <div class="alert alert-danger" ng-show="formData.$submitted && formData.bathField.$error.required">Bathrooms is required</div>
            </div>

  					<div class="form-group clearfix" ng-class="{
                    'has-error': formData.$submitted && formData.descField.$invalid,
                    'has-success': formData.$submitted && formData.descField.$valid}">
    					<label for="descField">Description</label>
    					<textarea class="form-control" id="descField" name="descField" ng-model="formData.description" srows="3"></textarea>
              <div class="alert alert-danger" ng-show="formData.$submitted && formData.descField.$error.required">Description is required</div>
  					</div>


					  <button type="submit" class="btn btn-primary btn-lg" ng-click="submitted=true">Submit Property</button>
				</form>
			</div>
		</div>
	</div>

  <style>

    .form-group .alert {
      padding: 0px;
      margin-bottom: 0px;
    }

    .extra-info {
        margin-top: 2em;
        font-size: smaller;
    }

    #footer {
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }
  </style>

  <div id="footer">
      <div class="container">
        <p class="text-muted">Thanks for coming.</p>
      </div>
    </div>
</body>
</html>
