<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
	<title>Shimmy - Create Property</title>


  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/css/new_property.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="form-lib/jquery.bootstrap.wizard.js"></script>
  <script src="/file-upload/angular-file-upload-shim.min.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="/file-upload/angular-file-upload.min.js"></script> 
  <script src="form-src/directives/rcSubmit.js"></script>
  <script src="form-src/modules/rcForm.js"></script>
  <script src="form-src/modules/rcDisabled.js"></script>
  <script src="form-src/modules/rcWizard.js"></script>
  <script src="/xml2json.js"></script>

  <script type="text/javascript" src="/new_property.js"></script>
  <script>myUser="<%=user._id%>";</script>
  <script src="js/bootstrap-formhelpers.min.js"></script>
  <link href="css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
  <link href="form-styles/rcWizard.css" rel="stylesheet">

</head>

  <body ng-app="shimmy">
    <% include partials/navbar.ejs %>
    <br/><br/><br/>
    <div class="container" >
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div ng-controller="mainController" 
               rc-wizard="propertyWizard" rc-disabled="rc.firstForm.submitInProgress">
            <ul class="nav rc-nav-wizard">
              <li class="active">
                <a class="active" href="#first" data-toggle="tab">
                  <span class="badge">1</span>
                  <span>Basic</span>
                </a>
              </li>
              <li>
                <a href="#second" data-toggle="tab">
                  <span class="badge">2</span>
                  <span>Details</span>
                </a>
              </li>
              <li>
                <a href="#last" data-toggle="tab">
                  <span class="badge">3</span>
                  <span>Images</span>
                </a>
              </li>
            </ul>
          <!-- ***************** END WIZARD NAV ***************** -->


          <!-- ***************** BEGIN FORMS ***************** -->
          <div class="form-fonts tab-content">
            <% include partials/basicPropForm.ejs %>
            <% include partials/detailsPropForm.ejs %>
            <% include partials/imagePropForm.ejs %>
          </div>
          <!-- ***************** END FORMS ***************** -->

          <!-- ****************** BEGIN NAVIGATION BUTTONS ****************** -->
          <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-default" ng-click="rc.propertyWizard.backward()" ng-show="rc.propertyWizard.currentIndex > rc.propertyWizard.firstIndex">Back</a>
                <a class="btn btn-primary" data-loading-text="Please Wait..." ng-click="rc.propertyWizard.forward()" ng-show="rc.propertyWizard.currentIndex < rc.propertyWizard.navigationLength">Continue</a>
                <a class="btn btn-primary" ng-click="rc.propertyWizard.forward()" ng-show="rc.propertyWizard.currentIndex == rc.propertyWizard.navigationLength">Complete</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
