<!doctype html>
<html>
<head>
	<title>Shimmy - Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Shimmy Landlord </h1>
		<br/>
		<a href="/new_property" class="btn btn-success btn-sm">List New Property</a>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		<h1>My Properties (<%= myProps.length %>)</h1>
		<div class="bb-alert alert alert-info" style="display:none;">
        	<span>The examples populate this alert with dummy content</span>
   		</div>
		<%- include landlord_props.ejs %>
	</div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootbox.js"></script>
<script src="/js/displayCallback.js"></script>

<script>
        $(function() {
            displayCallback.init({
                "selector": ".bb-alert"
            });
        });
    </script>

<script type="text/javascript" src="/profile.js"></script>

</body>
</html>
