.form-group .alert {
      padding: 0px;
      margin-bottom: 0px;
    }

    .extra-info {
        margin-top: 2em;
        font-size: smaller;
    }

    #footer {
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }

.propertyImageRow {
  padding-bottom:0.5cm;
}

.selectedImage {
  padding:1px;
  border:2px solid #74AFAD;
}

.propImage {
  max-height: 100px; 
}