.navbar {
	background-color:#25242C;
}

.landlordtext {
	color:#39B1C6;
}

.shimmytext {
	color:#1FD26A;
}

body {
	color:#FFFFFF;
	background-color:#32313B;
	font-family:"Helvetica Neue";
	font-weight:lighter;
	letter-spacing:1.5px
}

.form-fonts {
	font-family:"Helvetica Neue";
	font-weight:lighter;
	letter-spacing:1.3px;
}


.selected-image {
	border:3px solid #1FD26A;
	border-style:solid;
}

label {
	font-family:"Helvetica Neue";
	font-weight:lighter;
	letter-spacing:1.3px;
}

button {
	font-family:"Helvetica Neue";
	font-weight:lighter;
	letter-spacing:1.3px;
}