.navbar {
	background-color:#2B2B2B;  
}

.landlordtext {
	color:#D9853B;
}

.shimmytext {
	color:#ECECEA;
}

body {
	color:#2B2B2B;
	background-color:#F6F6F6;	
	font-family:"Helvetica Neue";
	font-weight:lighter;
	letter-spacing:1.5px
}

.form-fonts {
	font-family:"Helvetica Neue";
	letter-spacing:1.3px;
}


.selected-image {
	border:3px solid #74AFAD;
	border-style:solid;
}

label {
	font-family:"Helvetica Neue";
	font-weight:lighter;
	letter-spacing:1.3px;
}

button {
	font-family:"Helvetica Neue";
	font-weight:lighter;
	letter-spacing:1.3px;
}